:root {
    --light-blue-background: #1992d4;
    --light-grey-background: #e2e8f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    line-height: 1.5;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    background-color: var(--light-grey-background);
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.side-bar {
    background-color: var(--light-blue-background);
    color: white;
    grid-area: 1 / 1 / span 2 / span 1;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 40px;
    font-size: 2rem;
    font-weight: 600;
    align-items: start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

header {
    background-color: white;
    grid-area: 1/ 2 / span 1 / span 1;
}

main {
    background-color: red;
    grid-area: 2 / 2 / span 1 / span 1;
}

.icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
}

.heading {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;

}

.content-nav {
    grid-row: 2 / 3;
}

.misc-nav {
    grid-row: 3 / 4;
}

nav li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 4px 12px;
}

nav li:hover {
    background-color: white;
    color: black;
}

.heading .icon {
    height: 3rem;
    width: 3rem;
}

.heading h1 {
    font-size: 3rem;
}

header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 40px;
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.30);
}

.search-bar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    background-color: var(--light-grey-background);
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 1.5rem;
    font-weight: 600;
}

input:focus {
    outline: none;
    border: 1px solid var(--light-blue-background);
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    font-size: 1.5rem;
    font-weight: 600;
}

.user-profile img {
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
}

.user-info {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    align-items: center;
    column-gap: 20px;
}

.user-info img {
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
    grid-area: 1 / 1 / span 2 / span 1
}

.user-info p {
    font-size: 1.5rem;
    font-weight: 600;
}

.user-info p:last-child {
    font-size: 2.2rem;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: var(--light-blue-background);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    opacity: 80%;
}

button:active {
    opacity: 60%;
}

main {
    background-color: transparent;
}